<h4>
    <%= obj["Chapter"] %>
</h4>
<p>
    <%= formatAddress(obj) %><br />
    <%= obj["Phone"] %><br />

    <% if (obj["URL"]) { %>
        <a href='<%= obj["URL"] %>' target='_blank'>Website</a>
    <% } %>
</p>

<% if (obj["Cost"]) { %>
    <p>
        <strong>Cost</strong><br />
        <%= obj["Cost"] %>
    </p>
<% } %>

<% if (obj["Description"]) { %>
    <p>
        <strong>Description</strong><br />
        <%= obj["Description"] %>
    </p>
<% } %>
